@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  color: #FC330A;
  svg {
    fill: #00aaff;
  }
}

* {
  font-family: Outfit;
}
.prata-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}
